.filter__container {
  width: 15vw;
  margin: 1rem;
  padding-top: 1rem;
  & h3 {
    text-align: center;
    padding-bottom: 1rem;
  }
  & .filter__option {
    margin: 0.75rem;
    & label {
      margin-left: 0.5rem;
    }
  }
}
